<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type= "text/css" href="{{url_for('static', filename ='main.css')}}"/>
<head>
    <meta charset="UTF-8">
    <title>Mapper</title>
</head>
<body>
    <div class="container">
        <h1>Mapper</h1>
        <h3>Please type your address below.</h3>
        <form action="{{url_for('map')}}" method="POST" enctype="multipart/form-data">
            <label for="address">Address:</label>
            <input style="width: 15em" type="text" title="Address" placeholder="eg. 21 Wall Street, NY" name="Address" required><br>
             <label for="zoom">Zoom:</label>
             <input  value = "10"  step="any" style="width: 3em" type="number" title="Zoom" placeholder="Zoom" name="Zoom" required><br>
            <br>
            <button type="submit"> Submit </button>
        </form>
        <h4>Note:The zoom option is magnified the higher the number is(with 20 you can see the streets)</h4>
    </div>
</body>
</html>